{% extends 'bank/b.html' %}
{%block title%}{% if data %} Bank {% else %} Add Bank {%endif%} {%endblock%}
{%block content%}
{% load static %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row quick-action-toolbar">
        <div class="col-md-12 grid-margin" style="height: 32px;">
            <div class="card">
                <div class="card-header d-block d-md-flex">
                    <h5 class="mb-0">{% if data %} Bank - {{data.name}} {% else %} Add Bank {%endif%}</h5>
                    <!-- <p class="ml-auto mb-0">View &nbsp; Edit &nbsp; Delete <i class="icon-bulb"></i>
                    </p> -->
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add Bank</h4>
                <form method="POST" action="/add_post" class="form-sample" >
                  {% csrf_token %}
                  <!-- <p class="card-description"> 
                    <br>
                    Personal info
                  </p> -->
                  <div class="row pt-4">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label required">Bank name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="bank_name" id="bank_name" value="{{data.name}}" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Account name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="acc_name" id="acc_name" value="{{data.ac_name}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Branch name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="branch_name" id="branch_name" value="{{data.b_name}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Account number</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="acc_no" id="acc_no" value="{{data.account_no}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ISFC CODE</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="isfc_code" id="isfc_code"  max="11" value="{{data.isfc_code}}">                          
                          <!-- <select class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                          </select> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Outstanding Balance</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="out_bal" id="out_bal" value="{{data.outstanding_bal}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input type="hidden" name="hid" id="bank_hid" value="{% if data %}{{data.id}}{% else %}0{%endif%}">
                    </div>
                   
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="dd/mm/yyyy">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Type</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked=""> Invard <i class="input-helper"></i></label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Outward <i class="input-helper"></i></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <p class="card-description"> Address </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address 1</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">State</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address 2</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Postcode</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">City</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Country</label>
                        <div class="col-sm-9">
                          <select class="form-control">
                            <option>America</option>
                            <option>Italy</option>
                            <option>Russia</option>
                            <option>Britain</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </form>
              
                  <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-3">
                      <button class="btn btn-primary mr-2" id="saveBank">Submit</button>
                      <button class="btn btn-light">Back</button>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <!-- script start  -->
    <script src="{% static 'js/bank/bank.js' %}"> </script>
    <!-- script end  -->
</div>

{%endblock%}