{% load static %}
<html>
<head>
    <title>
      Instagram ● {% block title %} {% endblock %}
    </title>
  <link href="{% static 'css/base/base.css' %}" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  {% block header%}
  {% endblock %}
</head>
<body>
  <!-- navbar start     -->
  <nav class="navbar navbar-light border-bottom fixed-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://i.imgur.com/zqpwkLQ.png" width="90" height="29"  /></a>
      <form class="d-flex position-absolute top-50 start-50 translate-middle">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class="nav-icon-main">
        <a href="{% url 'home' %}" class="nav-icon">
          <span class="bi bi bi-house-door-fill nav-icon"></span>
          <!-- else  <span class="bi bi bi-house-door-fill nav-icon"></span> -->
        </a>
        <span class="bi bi-messenger nav-icon"></span>
        <span class="bi bi-compass nav-icon" ></span>
        <span class="bi bi-heart nav-icon" ></span>
        <a href="{% url 'home' %}" class="nav-icon">
          <img src="{% static 'profile.png' %}" height="30" width="30" class="rounded-circle " alt="..."> 
        </a>
      </div>
    </div>
  </nav>
  <!-- end navbar -->  
  <div><br><br><br></div>


  
  {% block content %}
  {% endblock %}
  <!-- Scripts -->
  <!--  Alertify  JavaScript -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

</body>
</html>