{% extends 'bank/b.html' %}
{%block title%}Transaction {%endblock%}
{%block content%}
{% load static %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row quick-action-toolbar" style="height: 81px;">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-header d-block d-md-flex">
                    <h2 class="mt-3">Transaction</h2>
                    <p class="ml-auto mb-0">
                    <!-- <button class="add" onclick="main_add()" value="add">
                         &nbsp; Delete &nbsp; History <i class="icon-bulb"></i> -->
                        <!-- <form class="search-form d-none d-md-block" action="#">
                        <i class="icon-magnifier"></i> -->
                        <!-- </form> -->
                        
                        <div class="template-demo">
                        <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='/transaction/0'"><a>Add Bank</a></button>
                        <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu mx-0"></i></button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
                            <button class="dropdown-item main-view" onclick="main_view()" disabled>View</button>
                            <button class="dropdown-item main-delete" onclick="main_delete()" disabled>Delete</button>
                            <button class="dropdown-item main-history" onclick="main_history()" disabled>History</button>
                        </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                  <div class="card-body">
                      <div class="d-sm-flex align-items-center mb-4">
                          <h4 class="card-title mb-sm-0">Recent Transaction </h4>
                          <!-- <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> View all Transactions</a> -->
                      </div>
                      <div class="table-responsive border rounded p-1">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th class="font-weight-bold"></th>
                                      <th class="font-weight-bold">નામ</th>
                                      <th class="font-weight-bold">ટાઇપ</th>
                                      <th class="font-weight-bold" style="width: 100px !important ;">વિગત</th>
                                      <th class="font-weight-bold">ચુકવણી પ્રવેશદ્વાર</th>
                                      <!-- <th class="font-weight-bold">Created at</th> -->
                                      <th class="font-weight-bold">Created at</th>
                                      <th class="font-weight-bold">Paid at</th>
                                      <th class="font-weight-bold">સ્થિતિ</th>
                                      <th class="font-weight-bold">રકમ</th>
                                      <th class="font-weight-bold">કુલ રકમ</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for transaction in transactions %}
                                  <tr>
                                      <td>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input main_check_box" id="main_check_box_id_{{transaction.id}}" data-id={{transaction.id}}>
                                                </label>
                                            </div>
                                        </div>
                                          <!-- <img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt=""> -->
                                      </td>
                                      <td>
                                        <a href="/transaction/{{transaction.id}}" >{{transaction.party}}</a>
                                        
                                      </td>
                                      <td><div class="badge badge-light p-2">જમા</div></td>
                                      <td style="width: 100px !important;"> {{transaction.descrption}}|લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</td>
                                      <td>{{transaction.mop}}</td>
                                      <td>૧૮ જૂલ ૨૦૧૯</td>
                                      <td>૧૮ જૂલ ૨૦૧૯</td>
                                      <td>
                                          <div class="badge badge-success p-2">Paid</div>
                                      </td>
                                      <td>+૯૧૩૪</td>
                                      <td>૯૧૩૪</td>
                                  </tr>
                                  {% endfor %}
                                  <!-- <tr>
                                      <td>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input main_check_box" id="main_check_box_id">
                                                </label>
                                            </div>
                                        </div>
                                      </td>
                                      <td>
                                          જીગ્નેશ સોની
                                      </td>
                                      <td><div class="badge badge-dark p-2">ઉધાર</div></td>
                                      <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</td>
                                      <td>૨૫ સપ્ટે ૨૦૧૯</td>
                                      <td>07 ઓક્ટ ૨૦૧૯</td>
                                      <td>
                                          <div class="badge badge-danger p-2">Pending</div>
                                      </td>
                                      <td>-૧૨૩૪</td>
                                      <td>૯૧૩૪</td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input main_check_box" id="main_check_box_id">
                                                </label>
                                            </div>
                                        </div>
                                      </td>
                                      <td>
                                          પિન્ટુ રાવલ
                                      </td>
                                      <td><div class="badge badge-light p-2">જમા</div></td>
                                      <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</td>
                                      <td>૧૨ ડીસે ૨૦૧૯</td>
                                      <td>૨૬ ઓગ ૨૦૧૯</td>
                                      <td>
                                          <div class="badge badge-warning p-2">Failed</div>
                                      </td>
                                      <td>+૫૬૭૮</td>
                                      <td>૯૧૩૪</td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input main_check_box" id="main_check_box_id">
                                                </label>
                                            </div>
                                        </div>
                                      </td>
                                      <td>
                                          Minnie Copeland
                                      </td>
                                      <td><div class="badge badge-dark p-2">ઉધાર</div></td>
                                      <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</td>
                                      <td>૩૦ સપ 2019</td>
                                      <td>૨૦ ઓક્ટ 2019</td>
                                      <td>
                                          <div class="badge badge-success p-2">Paid</div>
                                      </td>
                                      <td>-૯૧૩૪</td>
                                      <td>૯૧૩૪</td>
                                  </tr> -->
                              </tbody>
                          </table>
                      </div>
                      
                      <div class="d-flex mt-4 flex-wrap">
                          <p class="text-muted">{%if count %}Showing 1 to 10 of {{count}} entries{%endif%}</p>
                          <nav class="ml-auto">
                            {% if banks.has_other_pages %}
                            <ul class="pagination separated pagination-info">
                                {% if banks.has_previous %}
                                  <li class="page-item"><a href="?page={{ users.previous_page_number }}" class="page-link"><i class="icon-arrow-left"></i></a></li>
                                {% else %}
                                   <li class="page-item"><a  class="page-link"><i class="icon-arrow-left"></i></a></li>
                                {%endif%}
                                {% for i in banks.paginator.page_range %}
                                    {% if banks.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }}</a><span class="sr-only">(current)</span></li>
                                        <!-- <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li> -->
                                    {% else %}
                                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                        
                                    {%endif%}
                                {% endfor %}
                                {% if banks.has_next %}
                                  <li class="page-item"><a href="?page={{ banks.next_page_number }}" class="page-link"><i class="icon-arrow-right"></i></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"><i class="icon-arrow-right"></i></a></li>
                                {% endif %}
                                    <!-- <li class="page-item"><a href="#" class="page-link">3</a></li>
                                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                                  <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li> -->
                            </ul>
                            {%endif%}
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- script start  -->
    <script src="{% static 'js/bank/banks.js' %}"> </script>
    <!-- script end  -->
</div>
{%endblock%}