{% extends 'bank/b.html' %}
{%block title%}Hisrory {%endblock%}
{%block header%}{%endblock%}
{%block content%}
{% load static %}
<style >
    .date{
        color: red;
        margin-right: 50px !important;
    }
</style> 
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row quick-action-toolbar" style="height: 81px;">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-header d-block d-md-flex">
                    <h2 class="mt-3">Hisrory</h2>
                    <p class="ml-auto mb-0">
                    <!-- <button class="add" onclick="main_add()" value="add">
                         &nbsp; Delete &nbsp; History <i class="icon-bulb"></i> -->
                        <!-- <form class="search-form d-none d-md-block" action="#">
                        <i class="icon-magnifier"></i> -->
                        <!-- </form> -->
                    </p>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                  <div class="card-body">
                      <div class="d-sm-flex align-items-center mb-4">
                          <h4 class="card-title mb-sm-0">Recent Transaction </h4>
                          <!-- <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> View all Transactions</a> -->
                      </div>
                      <div class="table-responsive border rounded p-1">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th class="font-weight-bold box"></th>
                                      <th class="font-weight-bold name">નામ</th>
                                      <th class="font-weight-bold"></th>
                                      <th class="font-weight-bold description">વિગત</th>
                                      <th class="font-weight-bold"></th>
                                      <th class="font-weight-bold date">કુલ રકમ</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for data in data %}
                                  <tr>
                                      <td class="box">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input main_check_box" id="main_check_box_id_{{data.id}}" data-id={{bank.id}}>
                                                </label>
                                            </div>
                                        </div>
                                          <!-- <img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt=""> -->
                                      </td>
                                      <td class="name">
                                        {{data.user.username}}
                                      </td>
                                      <td></td>
                                      <td class="description"> {{data.desc}}</td>
                                      <td></td>
                                      <td class="date">{{data.created_at|date:'j F Y | H:i'}}</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      
                      <div class="d-flex mt-4 flex-wrap">
                          <p class="text-muted">Showing 1 to 10 of 57 entries</p>
                          <nav class="ml-auto">
                            {% if banks.has_other_pages %}
                            <ul class="pagination separated pagination-info">
                                {% if banks.has_previous %}
                                  <li class="page-item"><a href="?page={{ users.previous_page_number }}" class="page-link"><i class="icon-arrow-left"></i></a></li>
                                {% else %}
                                   <li class="page-item"><a  class="page-link"><i class="icon-arrow-left"></i></a></li>
                                {%endif%}
                                {% for i in banks.paginator.page_range %}
                                    {% if banks.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }}</a><span class="sr-only">(current)</span></li>
                                        <!-- <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li> -->
                                    {% else %}
                                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                        
                                    {%endif%}
                                {% endfor %}
                                {% if banks.has_next %}
                                  <li class="page-item"><a href="?page={{ banks.next_page_number }}" class="page-link"><i class="icon-arrow-right"></i></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"><i class="icon-arrow-right"></i></a></li>
                                {% endif %}
                                    <!-- <li class="page-item"><a href="#" class="page-link">3</a></li>
                                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                                  <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li> -->
                            </ul>
                            {%endif%}
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- script start  -->
    <script src="{% static 'js/bank/banks.js' %}"> </script>
    <!-- script end  -->
</div>
{%endblock%}