{% extends 'bank/b.html' %}
{% load static %}
{%block title%}Home {%endblock%}
{%block content%}
<div class="main-panel">
    <div class="content-wrapper">
        <!-- Quick Action Toolbar Starts-->
        <div class="row quick-action-toolbar">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-header d-block d-md-flex">
                        <h5 class="mb-0">Quick Actions</h5>
                        <p class="ml-auto mb-0">How are your active users trending overtime?<i class="icon-bulb"></i>
                        </p>
                    </div>
                    <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
                        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper" onclick="bank()">
                            <button type="button" class="btn px-0"> <i class="icon-briefcase mr-2"></i> Banks</button>
                        </div>
                        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper" onclick="add_bank()">
                            <button type="button" class="btn px-0"><i class="icon-docs mr-2"></i> Add Bank</button>
                        </div>
                        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper" onclick="transaction()">
                            <button type="button" class="btn px-0"><i class="icon-wallet mr-2"></i> Transactions</button>
                        </div>
                        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper" onclick="add_transaction()">
                            <button type="button" class="btn px-0"><i class="icon-book-open mr-2"></i>Add transaction</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick Action Toolbar Ends-->
        <!-- main section Starts -->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex align-items-center mb-4">
                            <h4 class="card-title mb-sm-0">Recent Transaction </h4>
                            <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> View all Transactions</a>
                        </div>
                        <div class="table-responsive border rounded p-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold"></th>
                                        <th class="font-weight-bold">નામ</th>
                                        <th class="font-weight-bold">ટાઇપ</th>
                                        <th class="font-weight-bold" style="width: 100px !important ;">વિગત</th>
                                        <th class="font-weight-bold">ચુકવણી પ્રવેશદ્વાર</th>
                                        <!-- <th class="font-weight-bold">Created at</th> -->
                                        <th class="font-weight-bold">Paid at</th>
                                        <th class="font-weight-bold">સ્થિતિ</th>
                                        <th class="font-weight-bold">રકમ</th>
                                        <th class="font-weight-bold">કુલ રકમ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img class="img-sm rounded-circle" src="" alt="">
                                        </td>
                                        <td>
                                            મહેસ પટેલ
                                        </td>
                                        <td><div class="badge badge-light p-2">જમા</div></td>
                                        <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</span></td>
                                        <td>૦૪ જૂન ૨૦૧૯</td>
                                        <td>૧૮ જૂલ ૨૦૧૯</td>
                                        <td>
                                            <div class="badge badge-success p-2">Paid</div>
                                        </td>
                                        <td>+૯૧૩૪</td>
                                        <td>૯૧૩૪</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="img-sm rounded-circle" src="" alt=""> 
                                        </td>
                                        <td>
                                            જીગ્નેશ સોની
                                        </td>
                                        <td><div class="badge badge-dark p-2">ઉધાર</div></td>
                                        <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</span></td>
                                        <td>૨૫ સપ્ટે ૨૦૧૯</td>
                                        <td>07 ઓક્ટ ૨૦૧૯</td>
                                        <td>
                                            <div class="badge badge-danger p-2">Pending</div>
                                        </td>
                                        <td>-૧૨૩૪</td>
                                        <td>૯૧૩૪</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="img-sm rounded-circle" src="" alt=""> 
                                        </td>
                                        <td>
                                            પિન્ટુ રાવલ
                                        </td>
                                        <td><div class="badge badge-light p-2">જમા</div></td>
                                        <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</span></td>
                                        <td>૧૨ ડીસે ૨૦૧૯</td>
                                        <td>૨૬ ઓગ ૨૦૧૯</td>
                                        <td>
                                            <div class="badge badge-warning p-2">Failed</div>
                                        </td>
                                        <td>+૫૬૭૮</td>
                                        <td>૯૧૩૪</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="img-sm rounded-circle" src="" alt=""> 
                                        </td>
                                        <td>
                                            Minnie Copeland
                                        </td>
                                        <td><div class="badge badge-dark p-2">ઉધાર</div></td>
                                        <td style="width: 100px !important;"> લોરેમ ઇપ્સુમ, ડોલોર સિટ એમેટ કોન્સેક્ટેટુર એડિપિસિસિંગ એલિટ.</span></td>
                                        <td>૩૦ સપ 2019</td>
                                        <td>૨૦ ઓક્ટ 2019</td>
                                        <td>
                                            <div class="badge badge-success p-2">Paid</div>
                                        </td>
                                        <td>-૯૧૩૪</td>
                                        <td>૯૧૩૪</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex mt-4 flex-wrap">
                            <p class="text-muted">Showing 1 to 10 of 57 entries</p>
                            <nav class="ml-auto">
                                <ul class="pagination separated pagination-info">
                                    <li class="page-item"><a href="#" class="page-link"><i
                                                class="icon-arrow-left"></i></a></li>
                                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link"><i
                                                class="icon-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main section Ends -->
        <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sessions by channel</h4>
                        <div class="aligner-wrapper">
                            <canvas id="sessionsDoughnutChart" height="210"></canvas>
                            <div class="wrapper d-flex flex-column justify-content-center absolute absolute-center">
                                <h2 class="text-center mb-0 font-weight-bold">8.234</h2>
                                <small class="d-block text-center text-muted  font-weight-semibold mb-0">Total
                                    Leads</small>
                            </div>
                        </div>
                        <div class="wrapper mt-4 d-flex flex-wrap align-items-cente">
                            <div class="d-flex">
                                <span class="square-indicator bg-danger ml-2"></span>
                                <p class="mb-0 ml-2">Assigned</p>
                            </div>
                            <div class="d-flex">
                                <span class="square-indicator bg-success ml-2"></span>
                                <p class="mb-0 ml-2">Not Assigned</p>
                            </div>
                            <div class="d-flex">
                                <span class="square-indicator bg-warning ml-2"></span>
                                <p class="mb-0 ml-2">Reassigned</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body performane-indicator-card">
                        <div class="d-sm-flex">
                            <h4 class="card-title flex-shrink-1">Performance Indicator</h4>
                            <p class="m-sm-0 ml-sm-auto flex-shrink-0">
                                <span class="data-time-range ml-0">7d</span>
                                <span class="data-time-range active">2w</span>
                                <span class="data-time-range">1m</span>
                                <span class="data-time-range">3m</span>
                                <span class="data-time-range">6m</span>
                            </p>
                        </div>
                        <div class="d-sm-flex flex-wrap">
                            <div class="d-flex align-items-center">
                                <span class="dot-indicator bg-primary ml-2"></span>
                                <p class="mb-0 ml-2 text-muted font-weight-semibold">Complaints (2098)</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="dot-indicator bg-info ml-2"></span>
                                <p class="mb-0 ml-2 text-muted font-weight-semibold"> Task Done (1123)</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="dot-indicator bg-danger ml-2"></span>
                                <p class="mb-0 ml-2 text-muted font-weight-semibold">Attends (876)</p>
                            </div>
                        </div>
                        <div id="performance-indicator-chart" class="ct-chart mt-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-sm-flex align-items-baseline report-summary-header">
                                    <h5 class="font-weight-semibold">Report Summary</h5> <span class="ml-auto">Updated
                                        Report</span> <button class="btn btn-icons border-0 p-2"><i
                                            class="icon-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row report-inner-cards-wrapper">
                            <div class=" col-md -6 col-xl report-inner-card">
                                <div class="inner-card-text">
                                    <span class="report-title">EXPENSE</span>
                                    <h4>$32123</h4>
                                    <span class="report-count"> 2 Reports</span>
                                </div>
                                <div class="inner-card-icon bg-success">
                                    <i class="icon-rocket"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl report-inner-card">
                                <div class="inner-card-text">
                                    <span class="report-title">PURCHASE</span>
                                    <h4>95,458</h4>
                                    <span class="report-count"> 3 Reports</span>
                                </div>
                                <div class="inner-card-icon bg-danger">
                                    <i class="icon-briefcase"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl report-inner-card">
                                <div class="inner-card-text">
                                    <span class="report-title">QUANTITY</span>
                                    <h4>2650</h4>
                                    <span class="report-count"> 5 Reports</span>
                                </div>
                                <div class="inner-card-icon bg-warning">
                                    <i class="icon-globe-alt"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl report-inner-card">
                                <div class="inner-card-text">
                                    <span class="report-title">RETURN</span>
                                    <h4>25,542</h4>
                                    <span class="report-count"> 9 Reports</span>
                                </div>
                                <div class="inner-card-icon bg-primary">
                                    <i class="icon-diamond"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row income-expense-summary-chart-text">
                            <div class="col-xl-4">
                                <h5>Income And Expenses Summary</h5>
                                <p class="small text-muted">A comparison of people who mark themselves of their
                                    ineterest from the date range given above. Learn more.</p>
                            </div>
                            <div class=" col-md-3 col-xl-2">
                                <p class="income-expense-summary-chart-legend"> <span
                                        style="border-color: #6469df"></span> Total Income </p>
                                <h3>$ 1,766.00</h3>
                            </div>
                            <div class="col-md-3 col-xl-2">
                                <p class="income-expense-summary-chart-legend"> <span
                                        style="border-color: #37ca32"></span> Total Expense </p>
                                <h3>$ 5,698.30</h3>
                            </div>
                            <div class="col-md-6 col-xl-4 d-flex align-items-center">
                                <div class="input-group" id="income-expense-summary-chart-daterange">
                                    <div class="inpu-group-prepend input-group-text"><i class="icon-calendar"></i></div>
                                    <input type="text" class="form-control">
                                    <div class="input-group-prepend input-group-text"><i class="icon-arrow-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row income-expense-summary-chart mt-3">
                            <div class="col-md-12">
                                <div class="ct-chart" id="income-expense-summary-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row purchace-popup">
            <div class="col-12 stretch-card grid-margin">
                <div class="card card-secondary">
                    <span class="card-body d-lg-flex align-items-center">
                        <p class="mb-lg-0">Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and
                            more! </p>
                        <a href="https://www.bootstrapdash.com/product/stellar-admin/?utm_source=organic&utm_medium=banner&utm_campaign=free-preview"
                            target="_blank" class="btn btn-warning purchase-button btn-sm my-1 my-sm-0 ml-auto">Upgrade
                            To Pro</a>
                        <button class="close popup-dismiss ml-2">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->

    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com
                2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                    href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin
                    templates</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial end -->
    
    <!-- script start  -->
    <script src="{% static 'js/bank/home.js' %}"> </script>
    <!-- script end  -->
    
</div>
{%endblock%}