
{% extends 'bank/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
  <div class="container">
    <div class="row">
      <div class="col-1 ">
        Column
      </div>
      <div class="col-7 nopadding">
        <div class="container border feed-header">
          <div class="row">
            <div class="col-1">
              <img src="{% static 'profile1.jpg' %}" height="40" width="40" class="rounded-circle" alt="..."> 
            </div>
            <div class="col-4 feed-username">
              <a href="{% url 'home' %}"><span class="feed-username">{{post.user}}</span></a>
            </div>
            <div class="col-7">
            </div>
          </div>
        </div>
        <div><img src="{{ post.picture.url }}" class ="image"></div>
        <div class="container border border-top-0 feed-header mb-5">
          <div class="row">
            <div class="col-1">
              {% csrf_token %}
              <span class="bi bi-heart feed-icon" onclick="likepost({{post.id}})" id="like_{{post.id}}"></span>
              <!-- <span class="bi bi-heart-fill feed-icon feed-liked" onclick="likepost({{post.id}})" id="like_{{post.id}}"></span> -->
              <!--else <span class="bi bi-heart-fill nav-icon like-icon"></span> -->
            </div>
            <div class="col-1">
              <span class="bi bi-chat feed-icon"></span>
            </div>
            <div class="col-1">
              <span class="bi bi-cursor feed-icon"></span>
            </div>
            <div class="col-8">
              <!-- post swipe -->
            </div>
            <div class="col-1">
              <span class="bi bi-bookmark feed-icon"></span>
            </div>
          </div>
          <div class="row mt-2 mb-1">
            <div class="col-12">
              <span class="feed-likes">{{post.likes}}258 Likes</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 caption">
              <span class="feed-user-name feed-username">{{post.user}}</span><span class="feed-caption">{{post.caption}}</span>
            </div>
          </div>
          <div class="row mt-1 border-top">
            <div class="col-1 mt-3">
              <span class="bi bi-emoji-smile feed-icon"></span>
            </div>
            <div class="col-9 mt-3">
              <textarea placeholder="Add a comment..." class="comment"></textarea>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <span style="padding-top: 16px;">POST</span>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-1 ">
        class
      </div>
      <div class="col-3 ">
        Column
      </div>
    </div>
  </div>


  <script src="{% static 'js/home.js' %}"> </script>
{% endblock %}